<template name="item">
    <li class="list-item {{#if selected}}selected{{/if}}">
        {{#if isOwner}}
        <button class="delete">&times;</button> 
        {{/if}}
        {{#unless beingEdited}}
            {{#if isOwner}}
            <button class="editButton"><span class="glyphicon glyphicon-pencil"></span></button>
            {{/if}}
        <span class="text">{{text}}</span>
        {{else}}
        <form class="edit-item">
            <input type="text" name="text" value="{{text}}"/>
        </form>
        {{/unless}}
    </li>
</template>