/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 10px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.new-thing {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-thing input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-thing input:focus{
  outline: 0;
}

.edit-thing input {
  box-sizing: border-box;
  background: transparent;
  /*border: none;*/
  width: 90%;
  font-size: 1em;
  margin: 0px 0px 0px 10px;
}

.edit-thing input:focus{
  outline: 0;
}

ul.thingsList{
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

.editButton {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li.thingListItem{
  position: relative;
  list-style: none;
  padding: 10px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}


li.selected {
  background-color: #1FA418;
}


@media (max-width: 600px) {
  li .thingListItem{
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-thing input {
    padding-bottom: 5px;
  }
}

button{
  margin-right: 5px;
}

.navbar{
    margin-bottom: 0px !important;
}

.container{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#login-buttons{
    margin-top: 20px; 
}

.login-link-text{
    color: #9d9d9d;
    text-decoration: none !important;
}

.login-link-text:hover{
    color: #ffffff;
}

#login-dropdown-list{
    top: 20px;
    left: -200px;
}

@media (max-width: 768px) {
    #login-buttons{
        margin-top: 20px;
        margin-bottom: 20px; 
        margin-left: 15px;
    }

    #login-dropdown-list{
        top: 20px;
        left: 10px;
    }
}

.navbar-collapse.in{
    overflow-y: visible;
}

.navbar-nav{
    margin: 0;
}

.invisible{
  visibility: 'hidden';
}