<head>
  <title>Choosifyer</title>
</head>
 
<body> 
    {{> nav}}

    {{#if currentUser}}
    <div class="container">
        <div class="row-fluid">
            <header>
                <h1>List</h1>
                <a class="pull-right"><span class="glyphicon glyphicon-chevron-left"></span><span>&nbsp;</span>Other Lists</a>
            <form class="new-item">
                <input type="text" name="text" placeholder="Type to add another item" />
            </form>
        </header>
        </div>
        <div>
            <ul class="List">
                {{#each items}}
                    {{> item}}
                {{/each}}
            </ul>
            <div class="well">
                <button disabled="{{#if anySelected}}true{{/if}}" class="choose btn btn-sm btn-primary {{#if anySelected}}disabled{{/if}}">  
                    Choose
                </button>
                <button class="clear btn btn-sm btn-default {{#unless anySelected}}disabled{{/unless}}">Clear</button>
            </div> 
        </div>
    </div>
    {{/if}}
</body>
 
<template name="item">
    <li class="list-item {{#if selected}}selected{{/if}}">
        <button class="delete">&times;</button> 
        {{#unless beingEdited}}
        <button class="editButton"><span class="glyphicon glyphicon-pencil"></span></button>
        <span class="text">{{text}}</span>
        {{else}}
        <form class="edit-item">
            <input type="text" name="text" value="{{text}}"/>
        </form>
        {{/unless}}
    </li>
</template>