<template name="home">
    <div class="error">
        <div class="error-code m-b-10 m-t-20">Choosifyer<i class="fa fa-warning"></i></div>
        <h3 class="font-bold"></h3>

        <div class="error-desc">
            Can't decide what to do? <br/>
            Let a computer take care of that for you.<br/>
            What can possibly go wrong?
            <div>
                <a class=" login-detail-panel-button btn" href="#">
                    <i class="fa fa-arrow-left"></i>
                    Login/SignUp                        
                </a>
            </div>
        </div>
    </div>
</template>

<!-- Anyone who attempts to generate random numbers by deterministic means is, of course, living in a state of sin.
John von Neumann
 -->
