<template name="home">
    <div class="row">
        <div class="col-md-12">
            <div class="home-template">
                <h1>
                    Choosifyer
                </h1>
                <div class="home-details">
                    <p class="list-paragraph">Can't decide what to do?</p>
                    <p class="list-paragraph">Let a computer take care of that for you.</p>
                    <p>What can possibly go wrong?</p>
                </div>
                <div class="home-actions">
                    <button id="home-signin" class="btn btn-primary btn-lg">
                        Login/Signup 
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Anyone who attempts to generate random numbers by deterministic means is, of course, living in a state of sin.
John von Neumann
 -->

